name: "Download extract .tgz precompiled libraries"
description: "Download and extract .tgz precompiled libraries from antares-deps and antares-simulator repository"
inputs:
  antares-version:
    description: 'antares-solver version'
    required: true
  os:
    description: 'operational system used for github action'
    required: true
  os-full-name:
    description: 'full operational system name used (for example Centos-7.9.2009 or Ubuntu-20.04)'
    required: true
  buildtype:
    description: 'build type'
    required: false
    default: 'Release'
  variant:
    description: 'extra qualifiers'
    required: false
    default: ""
runs:
  using: "composite"
  steps:
    - id: download-extract
      shell: bash
      run: |
        export LD_LIBRARY_PATH=/usr/lib64/openmpi/lib:$LD_LIBRARY_PATH
        export PATH=/usr/lib64/openmpi/bin:$PATH
        mkdir deps
        wget https://github.com/AntaresSimulatorTeam/Antares_Simulator/releases/download/v${{inputs.antares-version}}/antares-${{inputs.antares-version}}-${{inputs.os-full-name}}${{inputs.variant}}.tar.gz
        tar -xvf antares-${{inputs.antares-version}}-${{inputs.os-full-name}}${{inputs.variant}}.tar.gz -C ${{ github.workspace }}/deps --strip-components=1
        rm -rf antares-${{inputs.antares-version}}-${{inputs.os-full-name}}${{inputs.variant}}.tar.gz
