[submodule "antares-deps"]
	path = antares-deps
	url = https://github.com/AntaresSimulatorTeam/antares-deps.git
	branch = feature/add-minizip-ng
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
