name: "Download and compile tbb"
description: "tbb is required for execution policy (parallelization c++)."
inputs:
  cmake:
    description: 'cmake version'
    default: cmake

runs:
  using: "composite"
  steps: 
  - id: install-tbb
    shell: bash
    run: |
      source /opt/rh/gcc-toolset-9/enable || true
      git clone https://github.com/wjakob/tbb.git 
      cd tbb/build 
      ${{ inputs.cmake }} .. 
      ${{ inputs.cmake }} --build . --target install -j8